.container
  .row
    .col-md-12
      nav.navbar.navbar-default(role='navigation')
        // Brand and toggle get grouped for better mobile display
        .navbar-header
          button.navbar-toggle(type='button', data-toggle='collapse', data-target='#bs-example-navbar-collapse-1')
            span.sr-only Toggle navigation
            span.icon-bar
            span.icon-bar
            span.icon-bar
          a.navbar-brand(href='http://www.jquery2dotnet.com') Brand
        // Collect the nav links, forms, and other content for toggling
        #bs-example-navbar-collapse-1.collapse.navbar-collapse
          ul.nav.navbar-nav
            li.active
              a(href='http://www.jquery2dotnet.com') Home
            li
              a(href='http://www.jquery2dotnet.com') About Us
            li.dropdown
              a.dropdown-toggle(href='http://www.jquery2dotnet.com', data-toggle='dropdown')
                | Pages
                b.caret
              ul.dropdown-menu
                li
                  a(href='http://www.jquery2dotnet.com') Action
                li
                  a(href='http://www.jquery2dotnet.com') Another action
                li
                  a(href='http://www.jquery2dotnet.com') Something else here
                li.divider
                li
                  a(href='http://www.jquery2dotnet.com') Separated link
                li.divider
                li
                  a(href='http://www.jquery2dotnet.com') One more separated link
          form.navbar-form.navbar-left(role='search')
            .form-group
              input.form-control(type='text', placeholder='Search')
            button.btn.btn-default(type='submit') Submit
          ul.nav.navbar-nav.navbar-right
            li
              a(href='register.html') Sign Up
            li.dropdown
              a.dropdown-toggle(href='http://www.jquery2dotnet.com', data-toggle='dropdown')
                | Sign in
                b.caret
              ul.dropdown-menu(style='padding: 15px; min-width: 250px;')
                li
                  .row
                    .col-md-12
                      form#login-nav.form(role='form', method='post', action='login', accept-charset='UTF-8')
                        .form-group
                          label.sr-only(for='exampleInputEmail2') Email address
                          input#exampleInputEmail2.form-control(type='email', placeholder='Email address', required='required')
                        .form-group
                          label.sr-only(for='exampleInputPassword2') Password
                          input#exampleInputPassword2.form-control(type='password', placeholder='Password', required='required')
                        .checkbox
                          label
                            input(type='checkbox')
                            | Remember me
                        .form-group
                          button.btn.btn-success.btn-block(type='submit') Sign in
                li.divider
                li
                  input#sign-in-google.btn.btn-primary.btn-block(type='button', value='Sign In with Google')
                  input#sign-in-twitter.btn.btn-primary.btn-block(type='button', value='Sign In with Twitter')
        // /.navbar-collapse